body {
  background-color: rgb(47, 47, 47);
}

.container {
}

h1 {
  color: rgb(241, 218, 83);
}

h2 {
  color: rgb(241, 218, 83);
}

h3 {
  color: rgb(241, 218, 83);
  margin: 10%;
}

p {
  color: rgb(241, 218, 83);
  margin: 10%;
}

span {
  color: rgb(241, 218, 83);
}

.img-fluid {
  margin: 10%;
  width: 500px;
  height: 300px;
}
