body {
  background-color: rgb(238, 222, 222);
}

.container {
}

h1 {
  color: rgb(0, 0, 0);
}

h2 {
  color: rgb(0, 0, 0);
}

h3 {
  color: rgb(0, 0, 0);
  margin: 10%;
}

p {
  color: rgb(7, 7, 7);
  margin: 10%;
}

span {
  color: rgb(0, 0, 0);
}

.img-fluid {
  margin: 10%;
  width: 500px;
  height: 300px;
}
